@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1732px;
  margin: auto;
  background-color: #000000;
}
.container .navbar {
  max-width: 100%;
  background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}
.container .navbar p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.container .nav {
  width: 1140;
  padding: 18px 318px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9254901961);
  z-index: 11;
}
.container .nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}
.container .nav ul li a {
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #848895;
}
.container .nav ul li a .hover {
  display: none;
}
.container .nav ul li:hover a {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.container .nav ul li:hover a img {
  display: none;
}
.container .nav ul li:hover a .hover {
  display: block;
}
.container .hero {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.container .hero .hero-texts h1 {
  max-width: 563px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 94px;
  line-height: 94px;
  letter-spacing: 0.48px;
  color: #ffffff;
}
.container .hero .hero-texts p {
  max-width: 390px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  color: #C4C4C4;
  margin-top: 19px;
}
.container .hero .hero-texts .hero-buttons {
  display: flex;
  gap: 8px;
  margin-top: 40px;
}
.container .hero .hero-texts .hero-buttons button {
  background-color: #14F195;
  border: none;
  border-radius: 24px;
  width: 126px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
}
.container .hero .hero-texts .hero-buttons .b {
  width: 190px;
  height: 42px;
  background-color: #000000;
  border-radius: 24px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.container .hero .img {
  z-index: 10;
}
.container .hero .animation {
  position: absolute;
  height: 642px;
  left: 65.44%;
  right: -20.75%;
  background: rgba(240, 135, 255, 0.3);
  filter: blur(250px);
  border-radius: 100px;
}
.container .course {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.container .course h2 {
  font-size: 38px;
  line-height: 42px;
  font-family: "Open Sans";
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.68px;
}
.container .course p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #C4C4C4;
  font-family: "Open Sans";
  margin-top: 3px;
}
.container .course .course-item {
  max-width: 1084px;
  padding: 78px 88px;
  background-image: url(./img/IMAGE\ \(6\).png);
  margin-top: 32px;
}
.container .course .course-item .button {
  width: 84px;
  height: 15px;
  background-color: #9945FF;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #fff;
}
.container .course .course-item h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 39px;
  line-height: 40px;
  color: #FFFFFF;
  margin-top: 17px;
}
.container .course .course-item p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  max-width: 387px;
  margin-top: 31px;
}
.container .course .course-item .arow {
  margin-top: 24px;
}
.container .course .harr {
  max-width: 1184px;
  gap: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
}
.container .course .harr .harr-item {
  width: 346px;
  height: 320px;
  background-image: url(./img/IMAGE\ \(7\).png);
  padding-top: 225px;
  padding-left: 31px;
}
.container .course .harr .harr-item .buttons {
  width: 90px;
  height: 18px;
  background-color: #9945FF;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #fff;
}
.container .course .harr .harr-item p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  margin-top: 11px;
}
.container .course .harr .asa {
  background-image: url(./img/IMAGE\ \(8\).png);
}
.container .course .harr .bsa {
  background-image: url(./img/IMAGE\ \(10\).png);
}
.container .course .harr .csa {
  background-image: url(./img/IMAGE\ \(11\).png);
}
.container .course .harr .dsa {
  background-image: url(./img/IMAGE\ \(12\).png);
}
.container .course .harr .esa {
  background-image: url(./img/IMAGE\ \(13\).png);
}/*# sourceMappingURL=davron.css.map */